build/
build_*/
Backtrace.*
*.vth
*.sw[opqrs]

####################
# AMReX data files #
####################
plt*
chk*

##########
# Python #
##########
_tmppythonbuild/
*.pyc
__pycache__
dist/
*.egg-info/

##########
# Sphinx #
##########
docs/amrex-doxygen-web.tag.xml
docs/warpx-doxygen-web.tag.xml
docs/impactx-doxygen-web.tag.xml
docs/openpmd-api-doxygen-web.tag.xml
docs/doxyhtml/
docs/doxyxml/
docs/source/_static/

####################
# Package Managers #
####################
# anonymous Spack environments
# https://spack.readthedocs.io/en/latest/environments.html#anonymous-environments
.spack-env/
spack.lock

#######
# IDE #
#######
.idea/
cmake-build-*/
.kdev?/
*.kdev?

# File-based project format:
*.iws

# temporary files from some editors
*~

######
# OS #
######
.DS_Store
.AppleDouble
.LSOverride

#####################
# Trame Dashboard (output files are temporary) #
#####################
src/python/impactx/diags*
src/python/impactx/*.png
