include README.md LICENSE
include CODE_OF_CONDUCT.rst CONTRIBUTING.rst
include pyproject.toml
include requirements.txt

global-include CMakeLists.txt *.cmake *.in

recursive-include cmake *
recursive-include docs *
recursive-include etc *
recursive-include examples *
recursive-include include *
recursive-include src *
recursive-include tests *

# see .gitignore
prune cmake-build*
prune .spack-env*
